@import "reset";
@import "variables";

// Search Box
.search {
  // border: 1px solid red;
  width: 23rem;
  margin: 1.5em auto auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $box-bg-clr;
  border-radius: 7px;

  input {
    flex: 1;
    border: 0;
    outline: 0;
    color: $secondary-clr;
    padding: 5px;
    font-size: 1.4rem;
    background-color: $box-bg-clr;
  }

  button {
    background-color: $primary-clr;
    border: 0;
    outline: 0;

    i {
      color: $secondary-clr;
      font-size: 1.4rem;
    }
  }
}

// Weather container
.weather {
  color: #fff;
  // border: 1px solid red;
  width: 550px;
  background-color: $box-bg-clr;
  border-radius: 20px;
  margin: 30px auto auto;
  text-align: center;
  padding: 25px 40px;

  .weather-icon {
    // width: 170px;
    // margin-top: 20px;
    // border: 1px solid red;
  }

  h1 {
    font-size: 4rem;
    font-weight: 500;
  }

  h2 {
    font-size: 3.5rem;
    font-weight: 400;
    margin-bottom: -10px;
  }

  .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;

    .col {
      display: flex;
      align-items: center;
      text-align: left;

      img {
        width: 40px;
        margin-right: 10px;
      }
    }

    .humidity,
    .wind {
      font-size: 28px;
      margin-top: -6px;
    }
  }
}

// Title of other cities

.other-weathers-title {
  text-align: center;
  color: $secondary-clr;
  margin: 30px auto;
}

// Start Other Cities Weather

.other-weathers-container {
  // border: 1px solid red;
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  // overflow-: auto;

  .other-weather {
    color: #fff;
    // border: 1px solid red;
    width: 250px;
    height: 100%;
    background-color: $box-bg-clr;
    border-radius: 20px;
    // margin: 30px auto auto;
    text-align: center;
    padding: 10px 15px;

    margin-left: 40px;

    .chid-weather-icon {
      width: 80px;
      margin-top: 20px;
      // border: 1px solid red;
    }

    h1 {
      font-size: 2rem;
      font-weight: 500;
    }

    h2 {
      font-size: 1.2rem;
      font-weight: 400;
      margin-bottom: -10px;
    }

    .chid-details {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;
      margin-top: 25px;

      .col {
        display: flex;
        align-items: center;
        text-align: left;

        img {
          width: 20px;
          margin-right: 5px;
        }
      }

      .chid-humidity,
      .chid-wind {
        font-size: 12px;
        margin-top: -6px;
      }
      .chid-p {
        font-size: 12px;
      }
    }
  }

  .other-weather {
    color: #fff;
    // border: 1px solid red;
    width: 200px;
    background-color: $box-bg-clr;
    border-radius: 20px;
    // margin: 30px auto auto;
    text-align: center;
    padding: 10px 15px;

    .rabat-weather-icon {
      width: 80px;
      margin-top: 20px;
      // border: 1px solid red;
    }

    h1 {
      font-size: 2rem;
      font-weight: 500;
    }

    h2 {
      font-size: 1.2rem;
      font-weight: 400;
      margin-bottom: -10px;
    }

    .rabat-details {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;
      margin-top: 25px;

      .col {
        display: flex;
        align-items: center;
        text-align: left;

        img {
          width: 20px;
          margin-right: 5px;
        }
      }

      .rabat-humidity,
      .rabat-wind {
        font-size: 12px;
        margin-top: -6px;
      }
      .rabat-p {
        font-size: 12px;
      }
    }
  }

  // Casa
  .other-weather {
    color: #fff;
    // border: 1px solid red;
    width: 200px;
    background-color: $box-bg-clr;
    border-radius: 20px;
    // margin: 30px auto auto;
    text-align: center;
    padding: 10px 15px;

    .casa-weather-icon {
      width: 80px;
      margin-top: 20px;
      // border: 1px solid red;
    }

    h1 {
      font-size: 2rem;
      font-weight: 500;
    }

    h2 {
      font-size: 1.2rem;
      font-weight: 400;
      margin-bottom: -10px;
    }

    .casa-details {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;
      margin-top: 25px;

      .col {
        display: flex;
        align-items: center;
        text-align: left;

        img {
          width: 20px;
          margin-right: 5px;
        }
      }

      .casa-humidity,
      .casa-wind {
        font-size: 12px;
        margin-top: -6px;
      }
      .casa-p {
        font-size: 12px;
      }
    }
  }

  // Fes

  .other-weather {
    color: #fff;
    // border: 1px solid red;
    width: 200px;
    background-color: $box-bg-clr;
    border-radius: 20px;
    // margin: 30px auto auto;
    text-align: center;
    padding: 10px 15px;

    .fes-weather-icon {
      width: 80px;
      margin-top: 20px;
      // border: 1px solid red;
    }

    h1 {
      font-size: 2rem;
      font-weight: 500;
    }

    h2 {
      font-size: 1.2rem;
      font-weight: 400;
      margin-bottom: -10px;
    }

    .fes-details {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;
      margin-top: 25px;

      .col {
        display: flex;
        align-items: center;
        text-align: left;

        img {
          width: 20px;
          margin-right: 5px;
        }
      }

      .fes-humidity,
      .fes-wind {
        font-size: 12px;
        margin-top: -6px;
      }
      .fes-p {
        font-size: 12px;
      }
    }
  }

  // marrakech
  .other-weather {
    color: #fff;
    // border: 1px solid red;
    width: 200px;
    background-color: $box-bg-clr;
    border-radius: 20px;
    // margin: 30px auto auto;
    text-align: center;
    padding: 10px 15px;

    .marrakech-weather-icon {
      width: 80px;
      margin-top: 20px;
      // border: 1px solid red;
    }

    h1 {
      font-size: 2rem;
      font-weight: 500;
    }

    h2 {
      font-size: 1.2rem;
      font-weight: 400;
      margin-bottom: -10px;
    }

    .marrakech-details {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;
      margin-top: 25px;

      .col {
        display: flex;
        align-items: center;
        text-align: left;

        img {
          width: 20px;
          margin-right: 5px;
        }
      }

      .marrakech-humidity,
      .marrakech-wind {
        font-size: 12px;
        margin-top: -6px;
      }
      .marrakech-p {
        font-size: 12px;
      }
    }
  }

  // agadir
  .other-weather {
    color: #fff;
    // border: 1px solid red;
    width: 200px;
    background-color: $box-bg-clr;
    border-radius: 20px;
    // margin: 30px auto auto;
    text-align: center;
    padding: 10px 15px;

    .agadir-weather-icon {
      width: 80px;
      margin-top: 20px;
      // border: 1px solid red;
    }

    h1 {
      font-size: 2rem;
      font-weight: 500;
    }

    h2 {
      font-size: 1.2rem;
      font-weight: 400;
      margin-bottom: -10px;
    }

    .agadir-details {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;
      margin-top: 25px;

      .col {
        display: flex;
        align-items: center;
        text-align: left;

        img {
          width: 20px;
          margin-right: 5px;
        }
      }

      .agadir-humidity,
      .agadir-wind {
        font-size: 12px;
        margin-top: -6px;
      }
      .agadir-p {
        font-size: 12px;
      }
    }
  }

  // tangier
  .other-weather {
    color: #fff;
    // border: 1px solid red;
    width: 200px;
    background-color: $box-bg-clr;
    border-radius: 20px;
    // margin: 30px auto auto;
    text-align: center;
    padding: 10px 15px;

    .tangier-weather-icon {
      width: 80px;
      margin-top: 20px;
      // border: 1px solid red;
    }

    h1 {
      font-size: 2rem;
      font-weight: 500;
    }

    h2 {
      font-size: 1.2rem;
      font-weight: 400;
      margin-bottom: -10px;
    }

    .tangier-details {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;
      margin-top: 25px;

      .col {
        display: flex;
        align-items: center;
        text-align: left;

        img {
          width: 20px;
          margin-right: 5px;
        }
      }

      .tangier-humidity,
      .tangier-wind {
        font-size: 12px;
        margin-top: -6px;
      }
      .tangier-p {
        font-size: 12px;
      }
    }
  }

  // oujda
  .other-weather {
    color: #fff;
    // border: 1px solid red;
    width: 200px;
    background-color: $box-bg-clr;
    border-radius: 20px;
    // margin: 30px auto auto;
    text-align: center;
    padding: 10px 15px;

    .oujda-weather-icon {
      width: 80px;
      margin-top: 20px;
      // border: 1px solid red;
    }

    h1 {
      font-size: 2rem;
      font-weight: 500;
    }

    h2 {
      font-size: 1.2rem;
      font-weight: 400;
      margin-bottom: -10px;
    }

    .oujda-details {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;
      margin-top: 25px;

      .col {
        display: flex;
        align-items: center;
        text-align: left;

        img {
          width: 20px;
          margin-right: 5px;
        }
      }

      .oujda-humidity,
      .oujda-wind {
        font-size: 12px;
        margin-top: -6px;
      }
      .oujda-p {
        font-size: 12px;
      }
    }
  }
}

.scroll-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.scroll-content {
  display: inline-block;
  animation: scroll 10s linear infinite;
  /* Adjust animation duration as needed */
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.weather {
  display: none;
}

.error {
  display: none;
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
  margin-top: 10px;
  color: red;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

@import "medias";
